<html>
  <head>
    <title>WebDAV Collection - {{ collection.get_displayname() }}</title>
  </head>
  <body>
    <h1>{{ collection.get_displayname() }} </h1>

    <p>This is a collection.</p>

    <h2>Subcollections</h2>

    <ul>
    {% for name, resource in collection.subcollections() %}
       <li><a href="{{ urljoin(self_url+'/', name+'/') }}">{{ name }}</a></li>
    {% endfor %}
    </ul>

    <p>For more information about Xandikos, see <a
    href="https://www.xandikos.org/">https://www.xandikos.org/</a>
    or <a href="https://github.com/jelmer/xandikos">https://github.com/jelmer/xandikos</a>.
    </p>
  </body>
</html>
