{% extends "base.html" %}
{% block title %}{{ collection.get_displayname() }} - Xandikos{% endblock %}
{% block content %}
    <h1>{{ collection.get_displayname() }}</h1>
    <p>This is a WebDAV collection.</p>

    <h2>Subcollections</h2>
    <ul class="plain">
    {% for name, resource in collection.subcollections() %}
      <li><a href="{{ urljoin(self_url+'/', name+'/') }}">{{ name }}</a></li>
    {% else %}
      <li class="empty">(no subcollections)</li>
    {% endfor %}
    </ul>
{% endblock %}
