{% extends "base.html" %}
{% block title %}{{ principal.get_displayname() }} - Xandikos{% endblock %}
{% block content %}
    <h1>{{ principal.get_displayname() }}</h1>

    <p>This is a user principal. CalDAV/CardDAV clients that support
    autodiscovery can use this URL for discovery.</p>

    <h2>Subcollections</h2>
    <ul class="plain">
    {% for name, resource in principal.subcollections() %}
      <li><a href="{{ urljoin(self_url+'/', name+'/') }}">{{ name }}</a></li>
    {% else %}
      <li class="empty">(no subcollections)</li>
    {% endfor %}
    </ul>
{% endblock %}
