{% extends "base.html" %}
{% block title %}Xandikos WebDAV server{% endblock %}
{% block content %}
    <h1>Xandikos WebDAV server</h1>
    <p>This is a Xandikos WebDAV server.</p>

    <h2>Principals on this server</h2>
    <ul class="plain">
      {% for path in principals %}
        <li><a href="{{ urljoin(self_url+'/', path.lstrip('/')+'/') }}">{{ path }}</a></li>
      {% endfor %}
    </ul>

    <h2>DAV client configuration</h2>
    <p>Configure your CalDAV/CardDAV client with these URLs:</p>
    <ul>
      <li>CalDAV: <code>{{ caldav_url }}</code></li>
      <li>CardDAV: <code>{{ carddav_url }}</code></li>
    </ul>

    {% if qr_code_data %}
    <p>For DAVx<sup>5</sup> on Android, scan this QR code:</p>
    <img src="data:image/png;base64,{{ qr_code_data }}" alt="DAVx5 QR Code" style="max-width: 300px;">
    <p><small>DAVx<sup>5</sup> URL: <code>{{ davx5_url }}</code></small></p>
    {% endif %}
{% endblock %}
{% block footer_extra %} &mdash;
  <a href="https://www.xandikos.org/">xandikos.org</a> /
  <a href="https://github.com/jelmer/xandikos">github</a>
{% endblock %}
