include *.rst
include AUTHORS
include COPYING
include README.rst
include Makefile
include compat/*.sh
include compat/*.rst
include compat/*.xml
include compat/*.sha256sum
include notes/*.rst
include tox.ini
graft examples
graft man
recursive-include tests *.py
