include AUTHORS
include CONTRIBUTING.md
include COPYING
include Makefile
include README.md
include TODO
include compat/*.sh
include compat/*.md
include compat/*.xml
include compat/*.sha256sum
recursive-include examples/ *.ini
recursive-include notes/ *.txt *.md
include tox.ini
include xandikos.1
