include *.rst
include AUTHORS
include COPYING
include Makefile
include compat/*.sh
include compat/*.rst
include compat/*.xml
include compat/*.sha256sum
include examples/*.ini
include notes/*.rst
include tox.ini
include xandikos.1
