Source: xandikos
Section: web
Priority: optional
Maintainer: Jelmer Vernooĳ <jelmer@debian.org>
Homepage: https://www.xandikos.org/
Build-Depends: python3-all, debhelper-compat (= 13), python3-dulwich (>= 0.19.1), dh-python, python3-icalendar, python3-defusedxml, python3-jinja2, python3-setuptools, python3-aiohttp, python3-prometheus-client
Rules-Requires-Root: no
Standards-Version: 4.5.0
Vcs-Browser: https://salsa.debian.org/jelmer/xandikos
Vcs-Git: https://salsa.debian.org/jelmer/xandikos.git

Package: xandikos
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, python3-icalendar, python3-defusedxml, python3-dulwich (>= 0.19.1), python3-jinja2, python3-aiohttp
Recommends: python3-prometheus-client
Description: Git-backed CalDAV/CardDAV server
 Xandikos is a standards-compliant CalDAV/CardDAV server that backs onto a
 Git repository.
 .
 It supports the following standards:
 .
  * RFC4918/RFC2518 (Core WebDAV) - implemented, except for COPY/MOVE/LOCK
  * RFC4791 (CalDAV) - fully implemented
  * RFC6352 (CardDAV) - fully implemented
  * RFC5397 (Current Principal) - fully implemented
  * RFC3253 (Versioning Extensions) - partially implemented
  * RFC3744 (Access Control) - partially implemented
  * RFC5995 (POST to create members) - fully implemented
 .
 Xandikos (Ξανδικός) takes its name from the name of the February month in the
 ancient Macedonian calendar, used in Macedon in the first millennium BC.
