Source: xandikos
Section: python
Priority: optional
Maintainer: Jelmer Vernooĳ <jelmer@debian.org>
Homepage: https://jelmer.uk/xandikos
Build-Depends: python3-all, debhelper (>= 9), python3-dulwich, dh-python, python3-icalendar, python3-defusedxml
Standards-Version: 3.9.8
X-Python3-Version: >= 3.2
Vcs-Git: https://jelmer.uk/code/xandikos.git -b unstable

Package: python3-xandikos
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, python3-icalendar, python3-defusedxml, python3-dulwich
Description: Git-backed CalDAV/CardDAV server
 Xandikos is a standards-compliant CalDAV/CardDAV server that backs onto a
 Git repository.
 .
 Xandikos (Δύστρος) takes its name from the name of the February month in the
 ancient Macedonian calendar, used in Macedon in the first millennium BC.
