<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>travel</title>

<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>

<div class="page">

<div class="pageheader">
<div class="header">
<span>
<span class="parentlinks">

</span>
<span class="title">
travel

</span>
</span>
</div>

</div>
</div>

<div id="pagebody">

<div id="content" role="main">

{% for year in sorted(events.keys(), reverse=True) %}
<h2>{{ year }}</h2>
<ul>
{% for event in events[year] %} <li>{% if iscurrent(event) %}<strong>{% endif %}{% if event.status == "CANCELLED" %}<del>{% endif %}{{ format_daterange(event.start, event.end)}}: {% if event.url %}<a href="{{ event.url }}">{{ event.summary }}</a>{% else %}{{ event.summary }}{% endif %}{% if event.location %} @ {{ event.location }}{% endif %}{{ status_char(event.status) }}{% if iscurrent(event) %}</strong>{% endif %}{% if event.status == "CANCELLED" %}</del>{% endif %}</li>
{% endfor %}
</ul>
{% endfor %}

</div>
</div>
</body>
</html>
