---
name: caldav-server-tester compliance tests

"on":
  - push
  - pull_request

jobs:
  caldav-server-tester:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ['3.13']
      fail-fast: false

    steps:
      - uses: actions/checkout@v5
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -U pip pycalendar vobject requests pytz attrs aiohttp aiohttp-wsgi prometheus-client multidict "recurring-ical-events>=1.1.0b" typing-extensions defusedxml
          python -m pip install -e .
      - name: Run caldav-server-tester tests
        run: |
          make check-caldav-server-tester
